.App {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-height: 100vh;
  background: #fbfbfb;
}

h2 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 300;
  font-size: 1.9rem;
}