@import url('./common/initializer.css');

/* root */
:root {
  --Primary:#525577
}

#root {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: #e5e5e5;
  color: #fff;
  font: 100 50vh/1 'Spoqa Han Sans Neo', sans-serif;
}

/* button */

.upload-button {
  display: flex;
  align-items: center;
  padding-left: 12px;
  width: 89px;
  height: 30px;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px #DBDDF0;
  border-radius: 30px;
  border: none;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  color: var(--Primary);
  left: calc(50% - 89px/2); 
  top: calc(50% - 30px/2);
  cursor: pointer;
}

.upload-button:disabled {
  color: #ADAEB6;
}

/* icon */

.button-icon {
  position: absolute;
  width: 14px;
  height: 9px;
  right: 13.5px;
  top: 10.5px;
}

.spinner_V8m1 {
  transform-origin:center;
  animation:spinner_zKoa 2s linear infinite
}

.spinner_V8m1 circle {
  stroke-linecap:round;
  animation:spinner_YpZS 1.5s ease-in-out infinite
}

@keyframes spinner_zKoa {
  100% {
    transform:rotate(360deg)
  }
}

@keyframes spinner_YpZS {
  0% {
    stroke-dasharray:0 150;
    stroke-dashoffset:0
  }
  47.5% {
    stroke-dasharray:42 150;
    stroke-dashoffset:-16
  }
  95%,100% {
    stroke-dasharray:42 150;
    stroke-dashoffset:-59
  }
}