:root {
  --color-white: #fff;
  --color-black: #000;
  --color-gray-100: hsl(189, 0%, 90%);
  --color-gray-200: hsl(189, 0%, 80%);
  --color-gray-300: hsl(189, 0%, 70%);
  --color-gray-400: hsl(189, 0%, 60%);
  --color-gray-500: hsl(189, 0%, 50%);
  --color-gray-600: hsl(189, 0%, 40%);
  --color-gray-700: hsl(189, 0%, 30%);
  --color-gray-800: hsl(189, 0%, 20%);
  --color-gray-900: hsl(189, 0%, 10%);
  --color-react-100: hsl(189, 100%, 90%);
  --color-react-200: hsl(189, 100%, 80%);
  --color-react-300: hsl(189, 100%, 70%);
  --color-react-400: hsl(189, 100%, 60%);
  --color-react-500: hsl(189, 100%, 50%);
  --color-react-600: hsl(189, 100%, 40%);
  --color-react-700: hsl(189, 100%, 30%);
  --color-react-800: hsl(189, 100%, 20%);
  --color-react-900: hsl(189, 100%, 10%);
}

